@import "tailwindcss";

:root {
  --background-rgb: 0, 0, 0;
  --foreground-rgb: 255, 255, 255;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 5px;
  border: 2px solid #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #27272a #000000;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
}

/* Hide Scrollbar but keep functionality */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Prevent browser-default link underlines */
a {
    text-decoration: none !important;
}
